body {
	font-family: fira, sans-serif;
	padding-top: 100px;
	padding-bottom: 400px;
}

h1{
	padding-bottom: 0px;
	text-align: center;
	font-size: 80px;
}

h2{
	text-align: center;
	padding-bottom: 100px;
}

.toggle {
  margin-left: 20px;
  margin-right: 20px;
}

.buttonA {
      border-radius: 50% !important;
    padding-left: 10px;
    font-size: 1.7em;
    background-color: lightgray;
    padding-top: 0px;
}

#switch {
  position: absolute;
  font-family: 'Fira Sans', sans-serif;
  margin-left: 26px;
  margin-top: 116px;
}

.text2 {
    position: absolute;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 96px;
    margin-top: 74px;

}

.text1 {
  position: absolute;
  font-family: 'Fira Sans', sans-serif;
  margin-left: 26px;
  margin-top: 150px;
}

.text1 span:last-child {
  padding-left: 88px;
}

#title {
  font-family: 'Fira Sans', sans-serif;
  position: absolute;
  font-size: 40px;
  margin-left: 60px;
  margin-top: 40px;
}

#turn {
  position: absolute;
  background: #14614f;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 100px;
  margin-left: 70px;
  margin-top: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

#smallcircle {
    position: absolute;
    background: #14614f;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 8px;
    top: 52%;
    left: -49%;
    margin: -124px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bigcircle {
  background: #385a94;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: relative;
  border-style: solid;
  border-width: 10px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 8px 8px 15px 5px #888888;
}

#blue {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 350px 0 0 0;
  -moz-border-radius: 350px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  background: #0057e7;
  top: 50%;
  left: 50%;
  margin: -348px 0px 0px -347px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#red {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 0 350px 0 0;
  -moz-border-radius: 0 350px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  background: #d62d20;
  top: 50%;
  left: 50%;
  margin: -348px 0px 0px -2px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#green {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 0 0 0 350px;
  -moz-border-radius: 0 0 0 350px;
  -webkit-border-radius: 0 0 0 250px;
  background: #008744;
  top: 50%;
  left: 50%;
  margin: -3px -350px 0px -347px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#yellow {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 0 0 350px 0;
  -moz-border-radius: 0 0 350px 0;
  -webkit-border-radius: 0 0 250px 0;
  background: #ffa700;
  top: 50%;
  left: 50%;
  margin: -3px 0px -350px -2px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}